.resultsCard_title {
  display: block;
}


button {
  color: #fff;
  background-color: #262626;
  justify-self:self-end;
  display: none;
  
}


@media only screen and (max-width: 600px) {
  .resultsCard_title{
    display: flex;
    background-color: #262626;
    height: 150px;
  
  }
  button {
    color: #fff;
    border: none;
    justify-self:self-end;
    display: block;
    
  }
  p {
    padding-left: 5px;
    align-self: center;
    flex-grow: 1;
  }
}