nav {
  display: flex;
  background-color: #171717;
  padding: 5px;
  justify-content: space-around;
  
}

li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #c4c4c4;
  justify-content: center;
  align-items: center;

}
a {
  text-decoration: none;
  font-size: x-small;
  color: #c4c4c4;
  display: block;
  justify-self: center;
}
