form {
  margin-top: 20px;
}
input {
  background-color: #323232;
  padding: 12px 20px 12px;
  border-radius: 5px;
  outline-style: none;
  border: none;
  min-width: 100%;
  color: #fff;
}

@media screen and (min-width: 738px){
input {
  min-width: 400px;
}
}
