form {
  margin-top: 20px;
  display: flex;
  background-color: #323232;
  border-radius: 5px;
  width: 400px;
  min-width: 100%;
}

button {
background-color: #323232;
border-radius: 5px;
padding: 3px;
color:#C4C4C4;
justify-self: end;

 
}


input {
  background-color: #323232;
  outline-style: none;
  border: none;
  width: 400px;
}

@media screen and (min-width: 738px){
form {
  min-width: 400px;
}
}
